var config = {
  irc: {
    server: 'irc.freenode.net',
    nick: 'BotName',
    options: {
      channels: ['#channelname'],
      password: '',
      debug: false
    },
  },
  mysql: {
  	host: '',
  	user: '',
  	password: '',
  	database: '',
    port: 3306,
    tables: {
      messages: 'messages'
    }
  },
  logger: {},
  server: true
};

module.exports = config;